# python cached files
__pycache__/
*.py[cod]

# not code
results/
writeups/
talks/

# ignore error log
error.txt

# ignore cluster scripts
cluster*

# ignore extra config files
*config*
!alice_config.py
!bob_config.py
!env_config.py
!auto_config.py

# ignore hacky stuff
train_many_alices.py
train_many_bobs.py
